*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}
html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.header{
    background-color: #5879ff;
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;
}
.head-cnt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.logoimg{
    width: auto;
    height: 45px;
    border-radius: 20%;
}
.logo-text{
    font-weight: bold;
    font-size: 20px;
}
.profile{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.profile-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.logout{
    width: 35px;
    height: 35px; 
    object-fit: cover;
}
.btn-cnt{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.head-btn{
    height: 40px;
    width: 126px;
    background-color: rgba(255, 228, 146, 1);
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.02em;
}
.head-btn:hover{
    background-color: rgb(203, 162, 36) ;
}
.main-cnt{
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
.cnt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.cnt1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    /* text-align: center; */
}
.search-head{
    font-weight: bold;
    font-size: 48px;
}
.cnt2{
    width: 100%;
    display: flex;
    justify-content: left;
    column-gap: 10px;
}
.search-input{
   width: 40%;
   height: 40px;
   border-radius: 4px;
   padding: 5px 20px;
   font-size: 18px;
}
.search-btn{
    height: 40px;
    width: 126px;
    background-color: #5879ff ;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.02em;
    color: white;
}
.search-btn:hover{
    background-color: #274eea;
}

.results{
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}
.item{
    height: fit-content;
    overflow: hidden;
}
.item > img{
    /* width: 100%; */
    width: auto;
    height: 230px;
    display: block;
    /* object-fit: contain; */
    object-fit: cover;
    /* border-radius: 5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 15px;
}  

.loading{
  width: 100%;
  text-align: center;
}

.list{
list-style: none;
display: flex;
column-gap: 18px;
}
.list-item{
 color: blue;
 position: relative;
}
.delete{
display: none;
color: red;
position: absolute;
top: -53%;
right: -25%;
}
.li-text:hover ~ .delete{
display: block;
}
.delete:hover{
display: block; 
}


/* Login */
form{
 display: flex;
 flex-direction: column;
 row-gap: 15px;
 width: 40%;
 border-radius: 15px;
 border: 1px solid black;
 padding: 20px;
 align-items: center;
 background-color: aliceblue;
 box-sizing: border-box;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}
form > div > input{
    width: 100%;
    height: 40px;
   border-radius: 8px;
   padding: 5px 20px;
   font-size: 18px;
}
form > div > small{
   color: red;
}
.form-btn{
    height: 40px;
    width: 100%;
    background-color: rgba(255, 228, 146, 1);
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.02em;
    background-color: rgb(164, 99, 224);
}



@media screen and (max-width: 768px) {
    form{
        width: 80%;
    }
    .search-input{
        width: 60%;
     }  
}

@media screen and (max-width: 590px) {
    .logo-text{
        font-size: 16px;
    }
    .profile > p{
        display: none;
    } 
}

@media screen and (max-width: 566px) {
    .item > img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 512px) {
    .btn-cnt{
        display: none;
    }
}